@media (min-width: 800px) {
  .payment-expectations {
    width: 231px;
    font-size: 20px;

    overflow-x: hidden;
    overflow-y: auto;
  }
  .payment-expectations > h3 {
    margin: 30% 0px 0px 0px;
    font-size: 20px;
    color: #3f879b;
    opacity: 87%;
  }
  .solid {
    margin: 5px 35%;
    border-top: 1px solid #3f879b;
  }
  .payment-expectations > p {
    margin: 15px;

    font-size: 16px;
    font-style: italic;
    color: #2db8df;
  }
  .payment-expectations > p > span {
    margin: 15px;

    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #3f879b;
  }
}

@media (max-width: 800px) {
  .payment-expectations {
    width: 90vw;
    font-size: 20px;
  }
  .payment-expectations > h3 {
    margin: 10% 0px 0px 0px;
    font-size: 20px;
    color: #3f879b;
    opacity: 87%;
  }
  .solid {
    margin: 5px 35%;
    border-top: 1px solid #3f879b;
  }
  .payment-expectations > p {
    margin: 15px;

    font-size: 16px;
    font-style: italic;
    color: #2db8df;
  }
  .payment-expectations > p > span {
    margin: 15px;

    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #3f879b;
  }
}
